{% extends "media/base_media.html" %}
{% block title %}Documents{% endblock %}
{% block body_class %}documents{% endblock %}
{% block feed_link %}<link type="application/rss+xml" rel="alternate" href="/rss/documents/">{% endblock %}
{% block content_title %}
<!--  <p class="feed"><a href="/rss/documents/" title="Subscribe to RSS feed">Subscribe</a></p>-->
{% endblock %}
{% comment %}
{% block sidebar %}
  {% load content %}  {% get_latest_content for news.document as document_list limit 6 %}  <div class="module">
    <h2><a href="/documents/">Latest Documents</a></h2>
    <ul>
      {% for document in document_list %}
      <li><a href="{{ document.get_absolute_url }}">{{ document.title }}
        <small>Published {{ document.pub_date|date }}</small></a></li>
      {% endfor %}
    </ul>
    <p class="footer more"><a href="/documents/">More archives</a></p>
  </div>
{% endblock %}
{% endcomment %}
