{% extends "registration/registration_base.html" %}{% block title %}Password change{% endblock %}
{% block body_class %}{{ block.super }} password_change_form{% endblock %}
{% block extended_styles %}
  {{ block.super }}
  <style type="text/css">
    #main {
      background:none;
    }
    #content {
      width:918px;
    }
    .left {
	    width: 50%;
	    float: left;
    }
    .right {
	    width: 50%;
	    float: right;
	    display:inline
    }
    .left table{
	    float:right;
	    width: 87%;
    }
    .left input{
	    float: right;
	    margin-right:15px;
    }
    .right table{
	    margin-top: 30px;
		width: 85%;
	    float:left;
    }
.centered-content {
            width: 80%;
            margin: 0 auto;
    }
    .centered-content h3{
            background: #00416f;
            text-align: center;
            font-size: 16px;
            color: white;
            font-family: 'Helvetica Neue', Calibri, Arial, sans-serif;
            font-weight: normal;
            word-spacing: 4px;
    }
    .centered-content th{
	    color: black;
    }
    </style>
{% endblock %}{% block content %}
 <div class="centered-content"> 
  <h1>Password change</h1>  <div class="password-form-wrap">
    {% if form.errors %}<div class="form-error-message"><p class="errors">Please correct the error{{ form.errors|pluralize }} below.</p></div>{% endif %}
    <form action="." method="post">{% csrf_token %}      <div class="field">
          <div class="lbl">{{ form.old_password.label_tag }}</div>
          {{ form.old_password }}
      </div>        <div class="field">
          <div class="lbl">{{ form.new_password1.label_tag }}</div>
          {{ form.new_password1 }}
      </div>        <div class="field">
          <div class="lbl">{{ form.new_password2.label_tag }}</div>
          {{ form.new_password2 }}
      </div>        <input type="submit" value="Change" class="button">
    </form>
  </div>
</div>
{% endblock %}{% block sidebar_wrapper %}
  {% block sidebar %}{% endblock %}
{% endblock %}
