{% extends "registration/base_user.html" %}{% block title %}Password change successful{% endblock %}
{% block body_class %}{{ block.super }} password_change_done{% endblock %}
{% block content %}
<div class="centered-content">
  <h3>Password change successful</h3>
  <p>Your password was changed.</p>
  <p>Your username is {{ user.username }}.</p>
  <p>Your account number is {{ request.user.get_profile.esp_account_number }}.</p>
</div>
{% endblock %}
{% block sidebar_wrapper %}
  {% block sidebar %}{% endblock %}
{% endblock %}
