{% extends "registration/registration_base.html" %}{% block content %}
    <div class="content">
      <div class="container">
        <div>
            <h2>Lookup</h2>
            <p>Please enter your email address and zip code</p>
            <form action="." method="post">
	      {% csrf_token %}
                <div class="form-error-message">{{ form.errors }}</div>
              <p><label>Email</label> <input type="text" name="email" value="" > </p>
              <p><label>Zip/Postal</label> <input type="text" name="zip" value="" > </p>
              <p style="margin-top: 60px">Click <a href="/accounts/register/">here</a> for a new subscription</p>
              <p> <input type="submit" name="name" value="Submit"/></p>
            </form>
        </div>
      </div>
    </div>
{% endblock content %}
