{% extends "base_generic.html" %}
{% block title %}Password reset sent{% endblock %}
{% block body_class %}{{ block.super }} password_reset_done{% endblock %}
{% block extended_styles %}
  {{ block.super }}
  <style type="text/css">
    .errorlist li {
      color:#222;
      font-size:15px;
    }
    #main {
      background:none;
    }
    #content {
      width:918px;
    }
  </style>
{% endblock %}
{% block content %}
  <h1>Password reset sent</h1>
  <ul class="errorlist">
      <li>Good news! Your email address is already registered and we've sent your username and a login link to you. Please check your email inbox and follow the instructions to reset your password.</li></ul>
{% endblock %}
{% block sidebar_wrapper %}
  {% block sidebar %}{% endblock %}
{% endblock %}
