{% extends "registration/base_user.html" %}
{% block extended_styles %}
  <style type="text/css">
    #main { background:none; }
    #content { width:918px; }
    .user_info { 
      width:240px; 
      float:left;
    }
    #wall { 
      width: 418px;
      margin: 0 10px;
      float:left;
    }
    #subnav { 
      width:100%; 
      float:left;
    }
    .wrapper li a {
      font-size:18px;
    }
  </style>
{% endblock %}
{% block body_class %}{{ block.super }} profile{% endblock %}
{% block content_title_wrapper %}{% endblock %}
{% block content %}      
  {% load anonymity content fragments paywallutils %}    <h2>Manage Your User Account</h2>
    <div class="body">
      <p>You have successfully logged in as: <strong>{{ user|display_name }}</strong></p>
      <p>Your last login was: <strong>{{ user.last_login|date:"l, F j, Y" }}</strong></p>
      <h5>You can either return to the <a href="/">home page</a> or manage your account information below. *IMPORTANT:  In order to have FREE access to all news stories, you MUST create your subscription account and enter your subscription number (see link below).</h5>
    </div>
    <div>
      <ul>
        {% if not user.is_anonymous %}
          {% if user == person %}
            <li><a href="/">Return to Home Page</a></li>
            {% fragment la_digital_edition_link as link %}
            <li><a href="{% url 'pressreader_login' %}">Download LABJ Digital Edition</a></li>
	      <!--<li><a href="{% if request.user|general_subscriber %}{{ link.content }}{% else %}/store/{% endif %}">Download LABJ Digital Edition</a></li>-->
            <li><a href="/accounts/profile/edit/">Create/Edit Your Subscription Account</a></li>
            <li><a href="/accounts/password/change/">Change Your Password</a></li>
            <li><a href="http://www.magnetmail.net/actions/subscription_form_labj.cfm" target="_blank">Manage Your Email Alerts</a></li>
            <li><a href="/searchalerts/edit/">Manage Your Search Alerts</a></li>
          {% else %}
            {% if not person %}
              <li><a href="/">Return to Home Page</a></li>
              {% fragment la_digital_edition_link as link %}
            <li><a href="{% url 'pressreader_login' %}">Download LABJ Digital Edition</a></li>
	      <!--<li><a href="{% if request.user|general_subscriber %}{{ link.content }}{% else %}/store/{% endif %}">Download LABJ Digital Edition</a></li>-->
              <li><a href="/accounts/profile/edit/">Create/Edit Your Subscription Account</a></li>
              <li><a href="/accounts/password/change/">Change Your Password</a></li>
              <li><a href="http://eepurl.com/coa9Rv" target="_blank">Manage Your Email Alerts</a></li>
              <li><a href="/searchalerts/edit/">Manage Your Search Alerts</a></li>
            {% endif %}
          {% endif %}
        {% endif %}
      </ul>
      <hr />
      <h4>If you are not yet a Subscriber:</h4>
      <h5>To have access to all content, including weekly news articles and archives, click below to start a subscription to the Journal.</h5>
      <p>
        <a href="https://account.labusinessjournal.com/labj/subscribe.aspx?pc=LA" target="_blank"><img src="{{ STATIC_MEDIA_URL }}ocbj/images/subscribe/subscribe-now.png"></a>
        <!--<a href="http://newedition.labusinessjournal.com/" >_</a>-->
      </p>
      <hr />
  </div>
{% endblock %}
{% block sidebar %}{% endblock %}
