{% extends "base_generic.html" %}{% block title %}Create an Account{% endblock %}{% block body_class %}{{ block.super }} registration{% endblock %}{% block top_logo %}
<h1 class="logo" style="background:url({{ STATIC_MEDIA_URL }}cbj/images/logos/{{ site.name|slugify }}-login-logo.png) no-repeat;"><a href="/">{{ site.name }}</a></h1>
{% endblock %}{% block top_menu %}
      <ul id="nav">
        <li><a href="/">Subscribe</a></li>
        <li><a href="/">Renew My Account</a></li>
        <li><a href="/">Change Address</a></li>
        <li><a href="/">Pay my Invoice</a></li>
        <li><a href="/">Subscription</a></li>
        <li><a href="/">Status</a></li>
        <li><a href="/">Contact Us</a></li>
      </ul>
{% endblock %}
