{% extends "includes/v2/layout-two-col.html" %}
{% block subnav %}
  <div id="subnav">
    <div class="wrapper">
      <ul>
        <li class="photos"><a href="/photos/latest/">Photos</a></li>
        <li class="galleries"><a href="/photos/galleries/">Galleries</a></li>
        <li class="videos"><a href="/videos/">Videos</a></li>
        <li class="audioclips"><a href="/audioclips/">Audio</a></li>
        <li class="documents"><a href="/documents/">Documents</a></li>
        <li class="userphotos"><a href="/users/photos/">User photos</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
