{% extends "staff/base_staff.html" %}
{% block title %}Staff{% endblock %}
{% block body_class %}{{ block.super }} staff_list{% endblock %}
{% block content_title %}
  <h2>Staff members</h2>
{% endblock %}
{% block content_search %}
  <form action="{% url 'ellington_search_vertical' "staff.staffmember" %}" method="get" class="vertical_search_form" autocomplete="off">
    <p>
      <input type="text" name="q" value="" placeholder="Search staff">
      <button type="submit">Search</button>
    </p>
  </form>
{% endblock %}
{% block content %}
  <table class="list">
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th width="100">Phone</th>
      <th>Ext.</td>
    </tr>
    {% for staffmember in staff_list %}
      <tr>         
        <td><a href="{{ staffmember.get_absolute_url }}">{{ staffmember.first_name }}&nbsp;{{ staffmember.last_name }}</a></td>
        <td>{% if staffmember.get_current_position.position %}{{ staffmember.get_current_position.position }}{% endif %}</td>
        <td style="white-space: nowrap;">{{ staffmember.phone }}</td>
        <td>{% if staffmember.phone_extension %}{{ staffmember.phone_extension }}{% endif %}</td>  
      </tr>
    {% endfor %}
  </table>
{% endblock %}
