    <div class="mobile-menu">
        <div class="mobile-menu-in">
            <div class="subscribe-login">
                <ul class="menu top-nav horizontal column-group flex-item-even">
                    <li>Subscribe</li>
                    {% include "includes/v2/login-search.html" %}
                </ul>
            </div>
            <div class="mm-search">
                 {% include "includes/v2/search-bar.html" %}
            </div>
            <div class="mm-sections">
                <h4>Sections</h4>
                <ul class="mobile-ul">
                    {% include "includes/v2/sections-items.html" %}
                </ul>
            </div>
            <div class="mm-more">
                <h4>More LA Business Journal</h4>
                <ul class="mobile-ul">
                    {% include "includes/v2/top-nav-main-items.html" %}
                </ul>
            </div>
            <div class="mm-footer">
                <div class="lbl">Follow Us</div>
                 {% include "includes/v2/module-share.html" %}
            </div>
        </div>
    </div>
